button {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}


.btn-clipboard {
  color: #fff;

  &:hover {
    padding: 0.5rem 1rem;
    color: #000;
    background-color: #fff;
  }
}

.btn {
  &-primary {
  background-color: var(--color-primary);
  }
}
