body {
  padding: 0;
  width: 100%;
}

html {
  font-size: 14px;
}

ul,
ul li {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

li a {
  text-decoration: none;
}

.ly-wrapper {
  display: flex;
  margin: 50px auto 0;
  /* background-color: beige; */
  max-width: 1400px;
  min-width: 980px;
}

.ly-header {
  position: sticky;
  top: 0;
  width: 200px;
  height: calc(100vh - 50px);
  /* padding-left: 20px; */
  padding-bottom: 20px;
  overflow-y: auto;
  /* background-color: beige; */
}

.ly-nav .collapse {
  padding-bottom: 10px;
}

.ly-nav .collapse:not(.show) {
  display: none;
}

.ly-nav .collapsing {
  overflow: hidden;
  height: 0;
  transition: height .3s ease;
}

.ly-nav [data-expanded] {
  position: relative;
  padding-left: 25px;
}

.ly-nav [data-expanded]:before {
  content: '';
  display: block;
  position: absolute;
  left: 5px;
  top: 50%;
  width: 8px;
  height: 8px;
  border: solid #333;
  border-width: 2px 2px 0 0;
  transform: rotate(45deg) translateY(-50%);
  transform-origin: 80% 30%;
  transition: transform .3s;
}

.ly-nav [data-expanded="true"]:before {
  transform: rotate(135deg);
}

.ly-nav li a {
  display: block;
  padding: 5px;
  font-size: 18px;
  font-weight: 600;
  color: #666;
}

.ly-nav li li a {
  margin-left: 20px;
  font-weight: normal;
  font-size: 1rem;
}



.ly-container {
  /* flex: 1; */
  width: calc(100% - 200px);
}

.ly-content {
  width: 980px;
  padding: 0 40px 50px;
  min-height: 100vh;
  font-size: 1rem;
}

.ly-sidebar {
  position: sticky;
  top: 0;
  width: 200px;
  height: calc(100vh - 50px);
  float: right;
  /* background-color: lightblue; */
}

.ly-sidebar li a {
  font-weight: normal;
  color: #777 !important;
}

.page-title-wrap h1 {
  font-size: 40px;
  color: #000;
}

.ly-content h2 {
  margin-top: 50px;
  font-size: 28px;
  color: #333;
}

.page-title-wrap .desc {
  font-size: 20px;
}

.bd-clipboard {
  position: relative;
}

.bd-clipboard .btn-clipboard {
  position: absolute;
  top: 10px;
  right: 10px;
}

.highlight .language-html {
  margin: 0;
  border-radius: 0;
  font-size: 1rem;
}

.bd-example {
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 3px 3px 0 0;
}

.ex-row,
.bd-example {
  margin-top: 30px;
}

/* border */
.border-utils span {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 0 5px;
  background-color: #f9f9f9;
}

.border-utils.border span {
  border: 1px solid #dee2e6;
}

.border-utils.border.last {
  background-color: #ccc;
}

.border-utils.border.last span {
  background-color: inherit;
}

/* clearfix */
.clearfix-util .clearfix {
  width: 100%;
}

.clearfix-util .clearfix div {
  background-color: #eee;
  width: 30%;
  padding: .5rem;
}

.clearfix-util .clearfix div:last-child {
  text-align: right;
}
